html {
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  /*设置所有的盒子的宽度以边框开始计算*/
  -webkit-box-sizing: border-box;
  /*要兼容 webkit 浏览器内核厂商 这种情况一般是老的移动端浏览器*/
  box-sizing: border-box;
}
html,
body {
  background: #f7f7f7;
  color: #5a5a5a;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
::before,
::after {
  margin: 0;
  padding: 0;
  /*在移动端特殊的设置*/
}
input,
select,
textarea,
button {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
ins,
a {
  text-decoration: none;
  color: #5a5a5a;
}
a:hover {
  color: #5a5a5a;
}
input,
textarea,
button {
  border: none;
  outline: none;
  resize: none;
  /*特殊的属性定义  清除浏览器给input自带的样式*/
  -webkit-appearance: none;
  /*组件默认的样式空*/
}
/*------------- E  reset css  重置默认的一些样式  浏览器子自带的  目的是保持各种终端显示一致 -----------------*/
/*------------- S common css  也就是我们公用的css -------------*/
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.clearfix::after,
.clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
/*全屏容器*/
.mmm_container {
  width: 100%;
  background-color: #f1f1f1;
  /*公共头部及搜索框*/
}
.mmm_container .mmm_header {
  height: 1.306634rem;
  background-color: #ff841d;
  border-bottom: 1px solid #ecf8ff;
  position: relative;
}
.mmm_container .mmm_header a {
  height: 100%;
  padding: 0.13333rem 0.159996rem;
}
.mmm_container .mmm_header .mmm_logo {
  padding: 0.333325rem 0.213328rem;
  position: absolute;
  top: 0;
  left: 0;
}
.mmm_container .mmm_header .mmm_logo img {
  height: 0.66665rem;
}
.mmm_container .mmm_header .mmm_down {
  padding: 0.186662rem;
  position: absolute;
  top: 0;
  right: 0;
}
.mmm_container .mmm_header .mmm_down img {
  height: 0.906644rem;
}
.mmm_container .baicaijia_header {
  background-color: #f4483e;
}
.mmm_container .mmm_search {
  padding: 0.26666rem;
  background-color: #fff;
  position: relative;
}
.mmm_container .mmm_search .input_search {
  padding-right: 1.973284rem;
}
.mmm_container .mmm_search .input_search input {
  width: 100%;
  height: 0.79998rem;
  background-color: #f1f1f1;
  padding-left: 0.26666rem;
  border-radius: 0.79998rem;
  font-size: 16px;
}
[data-dpr='2'] .mmm_container .mmm_search .input_search input {
  font-size: 32px;
}
[data-dpr='2.5'] .mmm_container .mmm_search .input_search input {
  font-size: 40px;
}
[data-dpr="2.75"] .mmm_container .mmm_search .input_search input {
  font-size: 44px;
}
[data-dpr="3"] .mmm_container .mmm_search .input_search input {
  font-size: 48px;
}
[data-dpr="4"] .mmm_container .mmm_search .input_search input {
  font-size: 64px;
}
.mmm_container .mmm_search button {
  width: 1.706624rem;
  height: 0.79998rem;
  border-radius: 0.79998rem;
  background-color: #ff841d;
  position: absolute;
  top: 0.26666rem;
  right: 0.26666rem;
  font-size: 16px;
  color: #fff;
}
[data-dpr='2'] .mmm_container .mmm_search button {
  font-size: 32px;
}
[data-dpr='2.5'] .mmm_container .mmm_search button {
  font-size: 40px;
}
[data-dpr="2.75"] .mmm_container .mmm_search button {
  font-size: 44px;
}
[data-dpr="3"] .mmm_container .mmm_search button {
  font-size: 48px;
}
[data-dpr="4"] .mmm_container .mmm_search button {
  font-size: 64px;
}
/*公共尾部*/
.mmm_footer .footer_t {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.mmm_footer .footer_t a {
  float: left;
  width: 33.333%;
  height: 0.853312rem;
  text-align: center;
  line-height: 0.853312rem;
  font-size: 14px;
  border-right: 1px solid #ccc;
}
[data-dpr='2'] .mmm_footer .footer_t a {
  font-size: 28px;
}
[data-dpr='2.5'] .mmm_footer .footer_t a {
  font-size: 35px;
}
[data-dpr="2.75"] .mmm_footer .footer_t a {
  font-size: 39px;
}
[data-dpr="3"] .mmm_footer .footer_t a {
  font-size: 42px;
}
[data-dpr="4"] .mmm_footer .footer_t a {
  font-size: 56px;
}
.mmm_footer .footer_t a:last-child {
  border-right: none;
}
.mmm_footer .footer_t img {
  width: 0.39999rem;
  height: 0.39999rem;
  vertical-align: middle;
  margin-top: -0.13333rem;
}
.mmm_footer .footer_b {
  padding: 0.26666rem 0;
  text-align: center;
}
/*评价的公共类*/
.comment {
  background-color: #fff;
  padding: 0 0.13333rem;
}
.comment .tit {
  line-height: 1.06664rem;
  font-size: 18px;
  padding: 0 0.26666rem;
  color: #000;
}
[data-dpr='2'] .comment .tit {
  font-size: 36px;
}
[data-dpr='2.5'] .comment .tit {
  font-size: 45px;
}
[data-dpr="2.75"] .comment .tit {
  font-size: 50px;
}
[data-dpr="3"] .comment .tit {
  font-size: 54px;
}
[data-dpr="4"] .comment .tit {
  font-size: 72px;
}
.comment .reply {
  padding: 0 0.26666rem;
}
.comment .reply .form {
  border: 2px solid #ccc;
  overflow: hidden;
}
.comment .reply .form input[type='submit'] {
  float: right;
  width: 2.6666rem;
  height: 1.06664rem;
  background-color: #ff841d;
}
.comment .reply textarea {
  height: 3.039924rem;
  width: 100%;
  font-size: 16px;
}
[data-dpr='2'] .comment .reply textarea {
  font-size: 32px;
}
[data-dpr='2.5'] .comment .reply textarea {
  font-size: 40px;
}
[data-dpr="2.75"] .comment .reply textarea {
  font-size: 44px;
}
[data-dpr="3"] .comment .reply textarea {
  font-size: 48px;
}
[data-dpr="4"] .comment .reply textarea {
  font-size: 64px;
}
.comment .list {
  padding: 0 0.26666rem;
}
.comment .list li {
  position: relative;
  height: 2.333275rem;
}
.comment .list .userimg {
  float: left;
}
.comment .list .userimg {
  position: absolute;
  top: 0;
  left: 0;
}
.comment .list .userimg img {
  width: 1.06664rem;
  border-radius: 50%;
}
.comment .list .con {
  padding-left: 1.3333rem;
  height: 100%;
}
.comment .list .con .name {
  font-size: 16px;
}
[data-dpr='2'] .comment .list .con .name {
  font-size: 32px;
}
[data-dpr='2.5'] .comment .list .con .name {
  font-size: 40px;
}
[data-dpr="2.75"] .comment .list .con .name {
  font-size: 44px;
}
[data-dpr="3"] .comment .list .con .name {
  font-size: 48px;
}
[data-dpr="4"] .comment .list .con .name {
  font-size: 64px;
}
.comment .list .con .name .username {
  float: left;
  color: #78b9e4;
}
.comment .list .con .name .time {
  float: right;
  color: #ccc;
}
.comment .list .con .content {
  padding: 0.26666rem;
  color: #53534c;
}
/*分页*/
.mmm_page {
  height: 0.79998rem;
  text-align: center;
  line-height: 0.79998rem;
  font-size: 14px;
}
[data-dpr='2'] .mmm_page {
  font-size: 28px;
}
[data-dpr='2.5'] .mmm_page {
  font-size: 35px;
}
[data-dpr="2.75"] .mmm_page {
  font-size: 39px;
}
[data-dpr="3"] .mmm_page {
  font-size: 42px;
}
[data-dpr="4"] .mmm_page {
  font-size: 56px;
}
.mmm_page button {
  width: 1.73329rem;
  height: 0.53332rem;
  background-image: linear-gradient(#eeeeee, #bbbbbb);
  margin: 0 0.26666rem;
  font-size: 12px;
}
[data-dpr='2'] .mmm_page button {
  font-size: 24px;
}
[data-dpr='2.5'] .mmm_page button {
  font-size: 30px;
}
[data-dpr="2.75"] .mmm_page button {
  font-size: 33px;
}
[data-dpr="3"] .mmm_page button {
  font-size: 36px;
}
[data-dpr="4"] .mmm_page button {
  font-size: 48px;
}
.mmm_page input {
  height: 0.53332rem;
  width: 0.79998rem;
  text-align: center;
}
/* 主页主体*/
.mmm_main .mmm_nav {
  margin-top: 0.26666rem;
  background-color: #fff;
}
.mmm_main .mmm_nav li {
  float: left;
  width: 25%;
  padding: 0.639984rem 0;
}
.mmm_main .mmm_nav li:not( :nth-child(-n+8)) {
  display: none;
}
.mmm_main .mmm_nav a {
  display: block;
  text-align: center;
}
.mmm_main .mmm_nav img {
  width: 1.3333rem;
}
.mmm_main .mmm_nav p {
  font-size: 13px;
  margin-top: 0.13333rem;
}
[data-dpr='2'] .mmm_main .mmm_nav p {
  font-size: 26px;
}
[data-dpr='2.5'] .mmm_main .mmm_nav p {
  font-size: 33px;
}
[data-dpr="2.75"] .mmm_main .mmm_nav p {
  font-size: 36px;
}
[data-dpr="3"] .mmm_main .mmm_nav p {
  font-size: 39px;
}
[data-dpr="4"] .mmm_main .mmm_nav p {
  font-size: 52px;
}
.mmm_main .mmm_discount {
  margin-top: 0.13333rem;
}
.mmm_main .mmm_discount .title {
  overflow: hidden;
  height: 0.93331rem;
  background-color: #ff9000;
  background-image: linear-gradient(#ffaf47, #ff9000);
  font-size: 18px;
  line-height: 0.93331rem;
  padding: 0 0.26666rem;
  word-break: break-all;
}
[data-dpr='2'] .mmm_main .mmm_discount .title {
  font-size: 36px;
}
[data-dpr='2.5'] .mmm_main .mmm_discount .title {
  font-size: 45px;
}
[data-dpr="2.75"] .mmm_main .mmm_discount .title {
  font-size: 50px;
}
[data-dpr="3"] .mmm_main .mmm_discount .title {
  font-size: 54px;
}
[data-dpr="4"] .mmm_main .mmm_discount .title {
  font-size: 72px;
}
.mmm_main .mmm_discount .title a {
  color: #fff;
}
.mmm_main .mmm_discount .title img {
  width: 0.53332rem;
  height: 0.53332rem;
  margin-top: 0.199995rem;
}
/*查看更多公共类*/
.mmm_more {
  padding: 0.13333rem;
}
.mmm_more a {
  width: 100%;
  display: block;
  height: 0.79998rem;
  background-color: #f4f4f4;
  background-image: linear-gradient(#ffffff, #f4f4f4);
  border: 2px solid #ccc;
  border-radius: 3px;
  text-align: center;
  line-height: 0.79998rem;
  font-size: 14px;
  color: #000;
}
[data-dpr='2'] .mmm_more a {
  font-size: 28px;
}
[data-dpr='2.5'] .mmm_more a {
  font-size: 35px;
}
[data-dpr="2.75"] .mmm_more a {
  font-size: 39px;
}
[data-dpr="3"] .mmm_more a {
  font-size: 42px;
}
[data-dpr="4"] .mmm_more a {
  font-size: 56px;
}
/*商品公共布局*/
.products {
  background-color: #fff;
}
.products li {
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.13333rem;
}
.products li .price {
  font-size: 18px;
  color: red;
  font-weight: 700;
}
[data-dpr='2'] .products li .price {
  font-size: 36px;
}
[data-dpr='2.5'] .products li .price {
  font-size: 45px;
}
[data-dpr="2.75"] .products li .price {
  font-size: 50px;
}
[data-dpr="3"] .products li .price {
  font-size: 54px;
}
[data-dpr="4"] .products li .price {
  font-size: 72px;
}
.products a {
  display: block;
}
.products .left {
  padding: 0.26666rem 0.13333rem;
}
.products .left img {
  width: 2.79993rem;
  height: 2.79993rem;
}
.products .right {
  width: 100%;
  padding-left: 2.93326rem;
}
.products .right .pro_title {
  font-size: 15px;
  color: #333;
  height: 1.99995rem;
  padding-top: 0.66665rem;
}
[data-dpr='2'] .products .right .pro_title {
  font-size: 30px;
}
[data-dpr='2.5'] .products .right .pro_title {
  font-size: 38px;
}
[data-dpr="2.75"] .products .right .pro_title {
  font-size: 41px;
}
[data-dpr="3"] .products .right .pro_title {
  font-size: 45px;
}
[data-dpr="4"] .products .right .pro_title {
  font-size: 60px;
}
.products .right .pro_title span {
  color: #ff6c00;
}
.products .right .other {
  color: #a1a1a1;
  height: 0.66665rem;
  line-height: 0.66665rem;
  margin-left: 0.13333rem;
}
.products .right .comment {
  margin-right: 0.39999rem;
}
.products .right .comment .icon-comment {
  display: inline-block;
  width: 0.333325rem;
  height: 0.26666rem;
  background: url("../images/comment.svg");
  background-size: 0.333325rem 0.26666rem;
  vertical-align: middle;
  margin-right: 0.13333rem;
}
/* 比价搜索*/
.category_main {
  padding-bottom: 0.26666rem;
  background-color: #fff;
}
.category_main .category_list {
  padding: 0.13333rem;
}
.category_main .category_list .title {
  height: 1.039974rem;
  background-color: #ddd;
  padding-left: 0.26666rem;
  line-height: 1.039974rem;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
}
[data-dpr='2'] .category_main .category_list .title {
  font-size: 40px;
}
[data-dpr='2.5'] .category_main .category_list .title {
  font-size: 50px;
}
[data-dpr="2.75"] .category_main .category_list .title {
  font-size: 55px;
}
[data-dpr="3"] .category_main .category_list .title {
  font-size: 60px;
}
[data-dpr="4"] .category_main .category_list .title {
  font-size: 80px;
}
.category_main .category_list .title a {
  color: #000000;
}
.category_main .category_list .content {
  background-color: #fff;
  display: none;
}
.category_main .category_list .content li {
  width: 33.333%;
  height: 1.093306rem;
  text-align: center;
  line-height: 1.093306rem;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
}
.category_main .category_list .content li:nth-child(3n-2) {
  border-left: 1px solid #ccc;
}
/*商品列表*/
.productlist_main .productlist_nav {
  height: 1.053307rem;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  background-image: linear-gradient(#ffffff, #dddddd);
  line-height: 1.053307rem;
  padding: 0 0.26666rem;
  font-size: 16px;
}
[data-dpr='2'] .productlist_main .productlist_nav {
  font-size: 32px;
}
[data-dpr='2.5'] .productlist_main .productlist_nav {
  font-size: 40px;
}
[data-dpr="2.75"] .productlist_main .productlist_nav {
  font-size: 44px;
}
[data-dpr="3"] .productlist_main .productlist_nav {
  font-size: 48px;
}
[data-dpr="4"] .productlist_main .productlist_nav {
  font-size: 64px;
}
.productlist_main .productlist_nav a {
  color: #000;
}
.productlist_main .productlist_nav button {
  width: 1.679958rem;
  height: 0.79998rem;
  background-image: linear-gradient(#dddddd, #ffffff);
  border: 2px solid #ccc;
  border-radius: 0.066665rem;
  margin-top: 0.079998rem;
}
/*比价*/
.bj_content .bj_header {
  text-align: center;
  padding: 0.53332rem;
  background-color: #fff;
}
.bj_content .bj_header h3 {
  font-size: 20px;
  margin-bottom: 0.53332rem;
}
[data-dpr='2'] .bj_content .bj_header h3 {
  font-size: 40px;
}
[data-dpr='2.5'] .bj_content .bj_header h3 {
  font-size: 50px;
}
[data-dpr="2.75"] .bj_content .bj_header h3 {
  font-size: 55px;
}
[data-dpr="3"] .bj_content .bj_header h3 {
  font-size: 60px;
}
[data-dpr="4"] .bj_content .bj_header h3 {
  font-size: 80px;
}
.bj_content .bj_header img {
  width: 5.46653rem;
  height: 5.46653rem;
}
.bj_content .bj_btns {
  background-color: #ffc62a;
  border-top: 2px solid #c94900;
  border-bottom: 2px solid #c94900;
}
.bj_content .bj_btns a {
  float: left;
  width: 33.333%;
  height: 0.93331rem;
  line-height: 0.93331rem;
  text-align: center;
  border-right: 2px solid #c94900;
  font-size: 16px;
  color: #fff;
}
[data-dpr='2'] .bj_content .bj_btns a {
  font-size: 32px;
}
[data-dpr='2.5'] .bj_content .bj_btns a {
  font-size: 40px;
}
[data-dpr="2.75"] .bj_content .bj_btns a {
  font-size: 44px;
}
[data-dpr="3"] .bj_content .bj_btns a {
  font-size: 48px;
}
[data-dpr="4"] .bj_content .bj_btns a {
  font-size: 64px;
}
.bj_content .bj_btns a.current {
  background-color: #ff9b19;
}
.bj_content .bj_btns a:last-child {
  border-right: none;
}
.bj_content .bj_price {
  height: 1.19997rem;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  padding: 0 0.13333rem;
  font-size: 16px;
}
[data-dpr='2'] .bj_content .bj_price {
  font-size: 32px;
}
[data-dpr='2.5'] .bj_content .bj_price {
  font-size: 40px;
}
[data-dpr="2.75"] .bj_content .bj_price {
  font-size: 44px;
}
[data-dpr="3"] .bj_content .bj_price {
  font-size: 48px;
}
[data-dpr="4"] .bj_content .bj_price {
  font-size: 64px;
}
.bj_content .bj_price .bj_source {
  line-height: 1.19997rem;
  position: relative;
  padding-left: 0.319992rem;
}
.bj_content .bj_price .bj_source i {
  width: 0.319992rem;
  height: 0.319992rem;
  background: url("../images/slogo.png");
  background-size: 0.319992rem 0.319992rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.bj_content .bj_price .bj_source span {
  margin-left: 0.13333rem;
}
.bj_content .bj_price .price {
  height: 100%;
  line-height: 1.19997rem;
  color: red;
  font-weight: 700;
}
.bj_content .bj_price .price button {
  width: 1.519962rem;
  height: 0.639984rem;
  background-color: #ff5500;
  border-radius: 5px;
  color: #fff;
  margin-left: 0.26666rem;
}
.bj_content .bj_hint {
  height: 1.653292rem;
  border-bottom: 0.13333rem solid #757575;
  padding: 0.26666rem;
}
.bj_content .bj_estimate {
  background-color: #fff;
}
.bj_content .bj_estimate .estimate_title {
  height: 0.879978rem;
  border-top: 2px solid #fff;
  text-align: center;
  line-height: 0.879978rem;
  font-size: 16px;
  color: #000;
  background-color: #dbdbdb;
}
[data-dpr='2'] .bj_content .bj_estimate .estimate_title {
  font-size: 32px;
}
[data-dpr='2.5'] .bj_content .bj_estimate .estimate_title {
  font-size: 40px;
}
[data-dpr="2.75"] .bj_content .bj_estimate .estimate_title {
  font-size: 44px;
}
[data-dpr="3"] .bj_content .bj_estimate .estimate_title {
  font-size: 48px;
}
[data-dpr="4"] .bj_content .bj_estimate .estimate_title {
  font-size: 64px;
}
.bj_content .bj_estimate .estimate_content {
  border-bottom: 2px solid #ccc;
  padding: 0 0.26666rem;
}
.bj_content .bj_estimate .estimate_content .title {
  height: 1.399965rem;
  line-height: 0.66665rem;
}
.bj_content .bj_estimate .estimate_content .title p:first-child {
  font-size: 14px;
}
[data-dpr='2'] .bj_content .bj_estimate .estimate_content .title p:first-child {
  font-size: 28px;
}
[data-dpr='2.5'] .bj_content .bj_estimate .estimate_content .title p:first-child {
  font-size: 35px;
}
[data-dpr="2.75"] .bj_content .bj_estimate .estimate_content .title p:first-child {
  font-size: 39px;
}
[data-dpr="3"] .bj_content .bj_estimate .estimate_content .title p:first-child {
  font-size: 42px;
}
[data-dpr="4"] .bj_content .bj_estimate .estimate_content .title p:first-child {
  font-size: 56px;
}
.bj_content .bj_estimate .estimate_content .title p:last-child {
  text-align: right;
}
.bj_content .content {
  padding-bottom: 0.26666rem;
}
.bj_content .content p {
  text-align: left;
  line-height: 20px;
  color: #000;
}
/*省钱控*/
.mmm_header .moneyctrl_tit {
  text-align: center;
  line-height: 1.306634rem;
  font-size: 24px;
  color: #fff;
}
[data-dpr='2'] .mmm_header .moneyctrl_tit {
  font-size: 48px;
}
[data-dpr='2.5'] .mmm_header .moneyctrl_tit {
  font-size: 60px;
}
[data-dpr="2.75"] .mmm_header .moneyctrl_tit {
  font-size: 66px;
}
[data-dpr="3"] .mmm_header .moneyctrl_tit {
  font-size: 72px;
}
[data-dpr="4"] .mmm_header .moneyctrl_tit {
  font-size: 96px;
}
.mmm_header .icon_back {
  width: 1.06664rem;
  height: 0.599985rem;
  background: url("../images/icon_bar.png") no-repeat -2.39994rem 0.026666rem;
  background-size: 5.86652rem 3.519912rem;
}
/*国内折扣*/
.mp_section {
  background-color: #fff;
  padding: 0 0.26666rem 0.53332rem;
}
.mp_section .mp_title {
  margin-bottom: 0.26666rem;
}
.mp_section .mp_title h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3333rem;
  color: #000;
}
[data-dpr='2'] .mp_section .mp_title h3 {
  font-size: 48px;
}
[data-dpr='2.5'] .mp_section .mp_title h3 {
  font-size: 60px;
}
[data-dpr="2.75"] .mp_section .mp_title h3 {
  font-size: 66px;
}
[data-dpr="3"] .mp_section .mp_title h3 {
  font-size: 72px;
}
[data-dpr="4"] .mp_section .mp_title h3 {
  font-size: 96px;
}
.mp_section .mp_title p {
  color: #a8acb1;
}
.mp_section .mp_content {
  font-size: 14px;
  color: #000;
}
[data-dpr='2'] .mp_section .mp_content {
  font-size: 28px;
}
[data-dpr='2.5'] .mp_section .mp_content {
  font-size: 35px;
}
[data-dpr="2.75"] .mp_section .mp_content {
  font-size: 39px;
}
[data-dpr="3"] .mp_section .mp_content {
  font-size: 42px;
}
[data-dpr="4"] .mp_section .mp_content {
  font-size: 56px;
}
.mp_section .mp_content > img {
  float: right;
  width: 150px;
}
.mp_section .mp_pic {
  text-align: center;
  margin: 0.26666rem 0;
}
.mp_section .mp_inventory {
  width: 4.66655rem;
  margin: 0 auto;
}
.mp_section .mp_inventory ul {
  padding: 0.13333rem 0.26666rem;
  box-shadow: 0px 0px 14px 2px #5a5a5a;
}
.mp_section .mp_inventory li {
  line-height: 0.53332rem;
  border-bottom: 1px dashed #ccc;
}
.mp_section .mp_inventory li span {
  padding: 0 0.53332rem;
  font-size: 14px;
}
[data-dpr='2'] .mp_section .mp_inventory li span {
  font-size: 28px;
}
[data-dpr='2.5'] .mp_section .mp_inventory li span {
  font-size: 35px;
}
[data-dpr="2.75"] .mp_section .mp_inventory li span {
  font-size: 39px;
}
[data-dpr="3"] .mp_section .mp_inventory li span {
  font-size: 42px;
}
[data-dpr="4"] .mp_section .mp_inventory li span {
  font-size: 56px;
}
.mp_section .mp_inventory li strong {
  color: #ff841d;
  float: right;
  margin-right: 0.53332rem;
}
.mp_section .mp_buy {
  padding: 0.26666rem;
}
.mp_section .mp_buy a {
  display: block;
  height: 0.79998rem;
  background-color: #ff841d;
  border-radius: 5px;
  text-align: center;
  line-height: 0.79998rem;
  font-size: 16px;
  color: #fff;
}
[data-dpr='2'] .mp_section .mp_buy a {
  font-size: 32px;
}
[data-dpr='2.5'] .mp_section .mp_buy a {
  font-size: 40px;
}
[data-dpr="2.75"] .mp_section .mp_buy a {
  font-size: 44px;
}
[data-dpr="3"] .mp_section .mp_buy a {
  font-size: 48px;
}
[data-dpr="4"] .mp_section .mp_buy a {
  font-size: 64px;
}
.mp_section .mp_rwm {
  text-align: center;
  margin-top: 1.06664rem;
  margin-bottom: 0.53332rem;
}
/*inland*/
.inland li {
  background-color: #fff;
  width: 50%;
  float: left;
  padding: 0.13333rem 0.26666rem;
  border-bottom: 1px solid #ccc;
  height: 7.06649rem;
}
.inland li a {
  display: block;
  padding: 0.333325rem 0.53332rem;
}
.inland li a img {
  display: block;
  margin: 0 auto;
  height: 3.9999rem;
}
.inland li a h3 {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  margin: 0.26666rem 0.13333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
[data-dpr='2'] .inland li a h3 {
  font-size: 40px;
}
[data-dpr='2.5'] .inland li a h3 {
  font-size: 50px;
}
[data-dpr="2.75"] .inland li a h3 {
  font-size: 55px;
}
[data-dpr="3"] .inland li a h3 {
  font-size: 60px;
}
[data-dpr="4"] .inland li a h3 {
  font-size: 80px;
}
.inland li a p:nth-of-type(1) {
  color: #ff841d;
  font-size: 14px;
}
[data-dpr='2'] .inland li a p:nth-of-type(1) {
  font-size: 28px;
}
[data-dpr='2.5'] .inland li a p:nth-of-type(1) {
  font-size: 35px;
}
[data-dpr="2.75"] .inland li a p:nth-of-type(1) {
  font-size: 39px;
}
[data-dpr="3"] .inland li a p:nth-of-type(1) {
  font-size: 42px;
}
[data-dpr="4"] .inland li a p:nth-of-type(1) {
  font-size: 56px;
}
.inland li a p {
  padding: 0 0.13333rem 0.13333rem;
}
.inland li:nth-child(2n-1) {
  border-right: 1px solid #ccc;
}
/*白菜价*/
.bcj_nav {
  height: 1.06664rem;
  background-color: #fff;
  overflow: hidden;
}
.bcj_nav li {
  float: left;
  width: 2.13328rem;
  text-align: center;
}
.bcj_nav li a {
  display: inline-block;
  height: 1.06664rem;
  line-height: 1.06664rem;
  padding: 0 0.13333rem;
  border-bottom: 2px solid transparent;
}
.bcj_nav li a.active {
  border-bottom: 2px solid #e22f32;
  color: #e22f32;
}
.bcj_content {
  margin-top: 0.26666rem;
}
.bcj_content li {
  background-color: #fff;
  margin-bottom: 0.13333rem;
  height: 3.9999rem;
  position: relative;
}
.bcj_content li .bcj_pic {
  width: 3.9999rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0.13333rem;
  line-height: 3.9999rem;
}
.bcj_content li .bcj_pic img {
  width: 100%;
  vertical-align: middle;
}
.bcj_content li .bcj_con {
  padding-left: 3.9999rem;
}
/*优惠券*/
.coupon {
  background-color: #fff;
  padding: 0.26666rem 0.13333rem;
}
.coupon li {
  float: left;
  width: 33.33%;
  padding: 0.13333rem;
}
.coupon li a {
  display: block;
  text-align: center;
  border: 1px solid #ccc;
}
.coupon li a img {
  width: 2.6666rem;
}
/*优惠券列表*/
.prompt {
  height: 0.866645rem;
  background-color: #fff;
  line-height: 0.866645rem;
  text-align: center;
}
.cpp_list li {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.cpp_list a {
  display: block;
  position: relative;
  height: 3.9999rem;
}
.cpp_list a .cpp_pic,
.cpp_list a .ccp_jt {
  position: absolute;
  top: 0;
}
.cpp_list a .cpp_con {
  padding: 0.53332rem 0.53332rem 0 3.9999rem;
  height: 100%;
}
.cpp_list a .cpp_con h3 {
  font-size: 18px;
  color: #000;
  margin-bottom: 0.26666rem;
  height: 1.59996rem;
}
[data-dpr='2'] .cpp_list a .cpp_con h3 {
  font-size: 36px;
}
[data-dpr='2.5'] .cpp_list a .cpp_con h3 {
  font-size: 45px;
}
[data-dpr="2.75"] .cpp_list a .cpp_con h3 {
  font-size: 50px;
}
[data-dpr="3"] .cpp_list a .cpp_con h3 {
  font-size: 54px;
}
[data-dpr="4"] .cpp_list a .cpp_con h3 {
  font-size: 72px;
}
.cpp_list a .cpp_con .cpp_pir {
  font-size: 14px;
  color: #666666;
  font-weight: 700;
}
[data-dpr='2'] .cpp_list a .cpp_con .cpp_pir {
  font-size: 28px;
}
[data-dpr='2.5'] .cpp_list a .cpp_con .cpp_pir {
  font-size: 35px;
}
[data-dpr="2.75"] .cpp_list a .cpp_con .cpp_pir {
  font-size: 39px;
}
[data-dpr="3"] .cpp_list a .cpp_con .cpp_pir {
  font-size: 42px;
}
[data-dpr="4"] .cpp_list a .cpp_con .cpp_pir {
  font-size: 56px;
}
.cpp_list a .cpp_con .cpp_tim {
  margin-top: 0.26666rem;
  font-size: 16px;
  color: orange;
}
[data-dpr='2'] .cpp_list a .cpp_con .cpp_tim {
  font-size: 32px;
}
[data-dpr='2.5'] .cpp_list a .cpp_con .cpp_tim {
  font-size: 40px;
}
[data-dpr="2.75"] .cpp_list a .cpp_con .cpp_tim {
  font-size: 44px;
}
[data-dpr="3"] .cpp_list a .cpp_con .cpp_tim {
  font-size: 48px;
}
[data-dpr="4"] .cpp_list a .cpp_con .cpp_tim {
  font-size: 64px;
}
.cpp_list a .cpp_pic {
  width: 3.9999rem;
  left: 0;
  height: 100%;
  text-align: center;
  line-height: 3.9999rem;
}
.cpp_list a .cpp_pic img {
  width: 3.33325rem;
  vertical-align: middle;
}
.cpp_list a .ccp_jt {
  width: 0.53332rem;
  right: 0;
  height: 100%;
  font-size: 40px;
  font-family: "宋体";
  line-height: 3.9999rem;
  text-align: center;
}
[data-dpr='2'] .cpp_list a .ccp_jt {
  font-size: 80px;
}
[data-dpr='2.5'] .cpp_list a .ccp_jt {
  font-size: 100px;
}
[data-dpr="2.75"] .cpp_list a .ccp_jt {
  font-size: 110px;
}
[data-dpr="3"] .cpp_list a .ccp_jt {
  font-size: 120px;
}
[data-dpr="4"] .cpp_list a .ccp_jt {
  font-size: 160px;
}
/*模态框*/
.motaikuang {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.motaikuang .swiper-container {
  width: 7.9998rem;
  height: 3.9999rem;
  text-align: center;
  line-height: 3.9999rem;
  margin-top: 3.9999rem;
}
.motaikuang .swiper-container img {
  vertical-align: middle;
}
/*凑单品*/
.gsp_title {
  height: 0.79998rem;
  background-color: #fff;
  position: relative;
}
.gsp_title .tit_con {
  padding-right: 1.06664rem;
  height: 100%;
}
.gsp_title .tit_con li {
  float: left;
  width: 33.33%;
  height: 100%;
  line-height: 0.79998rem;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}
[data-dpr='2'] .gsp_title .tit_con li {
  font-size: 32px;
}
[data-dpr='2.5'] .gsp_title .tit_con li {
  font-size: 40px;
}
[data-dpr="2.75"] .gsp_title .tit_con li {
  font-size: 44px;
}
[data-dpr="3"] .gsp_title .tit_con li {
  font-size: 48px;
}
[data-dpr="4"] .gsp_title .tit_con li {
  font-size: 64px;
}
.gsp_title .tit_icon {
  position: absolute;
  height: 100%;
  width: 1.06664rem;
  top: 0;
  right: 0;
  background: url("../images/icon_bar.png") no-repeat 0 -1.373299rem, linear-gradient(#ffffff, #cccccc);
  background-size: 5.86652rem 3.519912rem;
  border: 1px solid #ccc;
}
.gsp_xl li {
  height: 0.79998rem;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  line-height: 0.79998rem;
  padding-left: 0.53332rem;
}
